<?php
/**
 * rcguard configuration file.
 */

// Number of failed logins before reCAPTCHA is shown
$config['failed_attempts'] = 3;

// Release IP after how many minutes (after last failed attempt)
$config['expire_time'] = 30;

// Reset failure count after successfull login (see bratkartoffel/rcguard@670395e)
$config['rcguard_reset_after_success'] = true;

// reCAPTCHA|hCaptcha|FriendlyCaptcha API version and url
$config['recaptcha_api_version'] = 'v2'; // v3 | v2 | v2invisible | v2hcaptcha | v2friendlycaptcha
$config['recaptcha_api_url'] = 'https://www.google.com/recaptcha/api.js'; // reCAPTCHA
//$config['recaptcha_api_url'] = 'https://js.hcaptcha.com/1/api.js'; // hCaptcha
//$config['recaptcha_api_url'] = 'https://cdn.jsdelivr.net/npm/friendly-challenge@0.9.1/widget.module.min.js'; // FriendlyCaptcha

// !!! DEPRECATED - not used anymore !!!
//$config['recaptcha_api']        = 'http://www.google.com/recaptcha/api.js';
//$config['recaptcha_api_secure'] = 'https://www.google.com/recaptcha/api.js';
//$config['recaptcha_https']      = true;

// Keys can be obtained from http://www.google.com/recaptcha/ or https://dashboard.hcaptcha.com/

// reCAPTCHA|hCaptcha/FriendlyCaptcha site key
$config['recaptcha_publickey'] = '';

// reCAPTCHA|hCaptcha/FriendlyCaptcha secret key
$config['recaptcha_privatekey'] = '';

// Send client IP to Google for reCAPTCHA verification
$config['recaptcha_send_client_ip'] = false;

// If defined, use this proxy to request ReCaptcha
// $config['recaptcha_proxy'] = 'proxy.example.com:5100';
$config['recaptcha_proxy'] = false;

// Proxy authentication credentials
// $config['recaptcha_proxy:auth'] = 'login:password';
$config['recaptcha_proxy_auth'] = false;

// Log events
$config['recaptcha_log'] = false;

// Recaptcha widget theme: light | dark (only for v2*)
$config['recaptcha_theme'] = 'light';

// Recaptcha widget size: normal | compact (only for v2*)
$config['recaptcha_size'] = 'normal';

// Event is not logged when set to NULL
// Parameter expansion:
// %r - Remote IP
// %u - Username
// %v - API version
$config['recaptcha_log_success'] = 'Verification succeeded for %u. [%r] via %v';
$config['recaptcha_log_failure'] = 'Error: Verification failed for %u. [%r] via %v';
$config['recaptcha_log_unknown'] = 'Error: Unknown log type.';

// Block IPv6 clients based on prefix length
// Use an integer between 16 and 128, 0 to disable
$config['rcguard_ipv6_prefix'] = 0;

// Do not show recaptcha for this IPs
$config['rcguard_ignore_ips'] = [];

// Do not show recaptcha of these networks
$config['recaptcha_whitelist'] = [];

