<?php

/*
 * rcguard configuration file
 */

// Number of failed logins before reCAPTCHA is shown
$rcmail_config['failed_attempts'] = 5;

// Release IP after how many minutes (after last failed attempt)
$rcmail_config['expire_time'] = 30;

// Use HTTPS for reCAPTCHA
$rcmail_config['recaptcha_https'] = false;

// Keys can be obtained from http://recaptcha.net/whyrecaptcha.html

// Public key for reCAPTCHA
$rcmail_config['recaptcha_publickey'] = '';

// Private key for reCAPTCHA
$rcmail_config['recaptcha_privatekey'] = '';

// Set to true if remember_me plugin is in use
$rcmail_config['remember_me'] = false;

// Name of username cookie for remember_me
$rcmail_config['rememberme_user'] = 'rememberme_user';

// Name of password cookie for remember_me
$rcmail_config['rememberme_pass'] = 'rememberme_pass';

// Name of host cookie for remember_me
$rcmail_config['rememberme_host'] = 'rememberme_host';

?>
